:root{
  --bg: #0d0c22;
  --bgSoft:#2d2b42;
  --text:white;
  --textSoft:#e5e5e5;
  --btn:#3673fd;
  }
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: black;
  font-family: Gilroy, -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
}
.app{
  height: auto;
  color: white;
}


